@mixin form ($bg) {

        .input-group {
            border: 1px solid #00000026;
            border-radius: 3px;
            overflow: hidden;
            // background-color: ;
            .form-control {
                border: transparent;
                background-color: $bg;
                &:focus {
                    box-shadow: none;
                }
            }
            span{
                color :$color-red;
                width: 2.5rem;
                justify-content: center;
                align-items: center;
                border: transparent;
                background-color: $bg;
                &:hover{
                    background-color: $color-red;
                    color: white;
    
                }
                i {
                    font-size: 0.8rem;          
                }
            }
        }
    
}

