.carousel {
    background-image: url(./../../images/cover.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00000010;
    .container{
        align-items: center;
        .row {
            .col-md-6 {
                color: white;
                @include form(white);
    
            }
        }
    }

}