#category {
	.title {
		font-size: 1.5rem;
		font-weight: 700;
		margin-bottom: 0.25rem;
	}
	.subcate {
		display: inline-block;
		width: 100%;
		margin-bottom: 21px;
		background-color: #fff;
		border: 1px solid transparent;
		border-radius: 2px;
		position: relative;
		box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
			0 3px 1px 0 rgba(20, 23, 28, 0.1);
		.item {
      padding: 1rem;
      display: flex;
      align-items: center;
		}
		i {
			font-size: 2rem;
			margin-right: 1rem;
		}
	}
	.item:hover {
		cursor: pointer;
		box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.15);
	}
}
