.header__left {
    display: flex;
    // justify-content: center;
    align-items: center;
    a{
        flex-grow: 1;
    }
    .categories {
        flex-grow: 1;
    }
    form{
        flex-grow: 5;
        @include form(#00000010);
    }
}


.header__right {
    .btn-login {
        color: #686f7a;
        background-color: white;
        border-color: #b3b7bc;
    }
}